{{page-title "Class"}}
<div class="class-details-control">
    <div class="class-detail">List of Class<br>
    <button class="addStudent" type="button">+Add Class</button>
        <input type="search" class="search-box">
        <hr>
        <div class="class-record-table">
            <table>
                <tr>
                    <th>Teacher Name</th>
                    <th>class</th>
                    <th>Section</th>   
                    <th>Option</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{{outlet}}