{{page-title "Dashboard"}}
<div class="dasboard-details"><span>DashBoard</span>
    <div class="total">
        <div class="totalstd">
            <div class="std-img"><img class="img-std" src="assets/person.png"></div>
            <div class="total-count">
                <div class="totalStudent">Total Student</div>
                <div class="countStudent">150</div>
            </div>
        </div>

        <div class="totalteacher">
            <div class="tech-img"><img class="img-teacher" src="assets/person.png"></div>
            <div class="total-count">
                <div class="totalTeacher">Total Teacher</div>
                <div class="countTeacher">30</div>
            </div>
        </div>

        <div class="totalsub">
            <div class="sub-img"><img class="img-sub" src="assets/person.png"></div>
            <div class="total-count">
                <div class="totalSubject">Total Subject</div>
                <div class="countSubject">5</div>
            </div>
        </div>

        <div class="totalclass">
            <div class="class-img"><img class="img-class" src="assets/person.png"></div>
            <div class="total-count">
                <div class="totalClass">Total Class</div>
                <div class="countClass">25</div>
            </div>
        </div>
    </div>
</div>
{{outlet}}