{{page-title "StudentDetails"}}
<div class="student-details-control">
    <div class="student-details">Student Person Details<br>
        <button class="addStudent" type="button">+Add Student</button>
        <input type="search" class="search-box">
        <hr>
        <div class="student-details-table">
            <table>
                <tr>
                    <th>Student Name</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Option</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{{outlet}}