{{page-title "StudentRecord"}}
<div class="student-record-control">
    <div class="student-record">Student Record<br>
        <button class="addStudent" type="button">+Add Student</button>
        <select class="std">
            <option value="lkg">LKG</option>
            <option value="I">First</option>
            <option value="II">Second</option>
            <option value="III">Third</option>
            <option value="IV">Fourth</option>
            <option value="V">Five</option>
        </select>
        <input type="search">
        <hr>
        <div class="student-record-table">
            <table>
                <tr>
                    <th>Roll No</th>
                    <th>Student Name</th>
                    <th>Class</th>
                    <th>Tamil</th>
                    <th>English</th>
                    <th>Maths</th>
                    <th>Science</th>
                    <th>Social Science</th>
                    <th>Total</th>
                    <th>Option</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{{outlet}}