{{page-title "Subject"}}
<div class="subject-details-control">
    <div class="subject-syllabus">Subject Syllabus<br>
    <button class="addStudent" type="button">+Add Subject</button>
        <input type="search" class="search-box">
        <hr>
        <div class="subject-record-table">
            <table>
                <tr>
                    <th>class</th>
                    <th>I term</th>
                    <th>II Term</th>
                    <th>III Term</th>
                    <th>Option</th>
                </tr>
            </table>
        </div>
    </div>
</div>
={{outlet}}