{{page-title "TeacherRecord"}}
<div class="teacher-record-control">
    <div class="teacher-record">Teacher Record<br>
        <button class="addStudent" type="button">+Add Teacher</button>
        <select class="std">
            <option value="lkg">LKG</option>
            <option value="I">First</option>
            <option value="II">Second</option>
            <option value="III">Third</option>
            <option value="IV">Fourth</option>
            <option value="V">Five</option>
        </select>
        <input type="search">
        <hr>
        <div class="teacher-record-table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Teacher Name</th>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Attendance</th>
                    <th>Option</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{{outlet}}