{{page-title "TeacherDetails"}}
<div class="teacher-details-control">
    <div class="teacher-details">Teacher Person Details<br>
        <button class="addStudent" type="button">+Add Teacher</button>
        <input type="search" class="search-box">
        <hr>
        <div class="teacher-details-table">
            <table>
                <tr>
                    <th>Teacher Name</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Option</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{{outlet}}