{{page-title "Admin"}}
<div class="mainpage">
    <div class="header">
        <h1 class="heading">Student Management System</h1>
        <p class="school-name">Dhivya School<br><span class="about-school">Primary School for Girl Kid's</span></p>
    </div>
    <div class="login">
        <h5>UserName</h5><Input class="name" @value={{this.userName}} />
        <h5>Password</h5><Input class="psw" @value={{this.password}} />
        <div class="invalid" {{this.invaild}}> </div><br>
        <div class="empty" {{this.empty}}> </div><br>
        <button class="loginbtn" type="button" {{on 'click' this.adminControl}}>LOGIN</button><br>
    </div>
</div>
{{outlet}}