{{page-title "AdminControl"}}
<div class="mainpage">
    <div class="header">
        <img class="school-logo" src="assets/intern.png">
        <h1 class="heading">Student Management System</h1>
        <p class="school-name">Dhivya School<br><span class="about-school">Primary School for Girl Kid's</span></p>
    </div>
    <div class="dasboardControl">
        <div class="menu-bar">
            Hello Adminstrator, <br>
            <hr>
            <button class="dashboard" type="button" {{on 'click' this.dashBoard}}>DashBoard</button><br>
            <button class="setStudent" type="button" {{on 'click' this.studentDetails}}>Student</button><br>
            <button class="std-class" type="button"{{on 'click' this.studentRecord}}>Student Class</button><br>
            <button class="setTeacher" type="button"{{on 'click' this.teacherDetails}}>Teacher</button><br>
            <button class="teacher-class" type="button"{{on 'click' this.teacherRecord}}>Teacher Class</button><br>
            <button class="subject" type="button"{{on 'click' this.subject}}>Subject</button><br>
            <button class="class-details" type="button"{{on 'click' this.class}}>Class</button>
        </div>
    </div>
</div>
{{outlet}}