{{page-title "MainPage"}}
<div class="mainpage">
<div class="header">
    <h1 class="heading">Student Management System</h1>
    <p class="school-name">Dhivya School<br><span class="about-school">Primary School for Girl Kid's</span></p>
</div>

<div class="login-option">
    {{!-- <img class="admin-img"  src="assets/teacher.jpg" alt=""> --}}
    <button class="admin" type="button" {{on 'click' this.admin}}>Admin</button>
    <button class="teacher" type="button">Teacher</button>
</div>
</div>
{{outlet}}