.header {
  background-color: rgb(127, 255, 234);
  text-align: center;
}

.heading {
  display: inline-block;
  align-content: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 8%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(251, 250, 252);
  color: black;
}

.school-name {
  margin-top: -10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: #d6318c;
}

.about-school {
  font-weight: lighter;
  color: brown;
}

.login-option {
  padding: 10% 0% 0% 40%;
}

.admin,
.teacher,
.loginbtn {
  color: #fff;
  padding: 15px 25px;
  background-color: #d6318c;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgb(255 255 255 / 25%), inset 0px 3px 9px rgb(255 255 255 / 30%), inset 0px 1px 1px rgb(255 255 255 / 60%), inset 0px -8px 36px rgb(0 0 0 / 30%), inset 0px 1px 5px rgb(255 255 255 / 60%), 2px 19px 31px rgb(0 0 0 / 20%);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

.teacher {
  margin-left: 10%;
}

.admin-img {
  width: 200px;
  height: 200px;
}

.login {
  line-height: 20px;
  margin-top: 5%;
}

.name,
.psw {
  margin-left: 42%;
  width: 15%;
  height: 25%;
}

h5 {
  display: flex;
  margin-left: 48%;
  color: #d6318c;
  font-weight: bolder;
}

.invalid,
.empty {
  padding-top: 14px;
  padding-left: 42%;
  line-height: 0px;
}

.loginbtn {
  margin-left: 47%;
}

.menu-bar,
.addTeacher,
.addStudent{
  height: 50px;
  background-color: rgb(5, 5, 141);
}

.addTeacher {
  border: none;
  color: white;
  font-size: larger;
  padding-left: 70%;
}

.addStudent {
  border: none;
  color: white;
  font-size: larger;
  padding-left: 2%;
}

.school-logo {
  /* padding-top: 10px; */
  margin-top: 15px;
  margin-left: -20px;
  height: 55px;
  width: 70px;
}

.menu-bar {
  height: 500px;
  width: 200px;
  background-color: antiquewhite;
}

.dashboard,
.setStudent,
.std-class,
.setTeacher,
.teacher-class,
.subject,
.class-details {
  height: 30px;
  width: 180px;
  border: none;
  background-color: antiquewhite;
  font-size: larger;
  line-height: 2cm;
}

.dasboardControl {
  display: flex;
}

.dasboard-details {
  display: flex;
  flex-direction: column;
  margin: -500px 212px;
  background-color: antiquewhite;
  height: 500px;
  width: 1311px;
}

.dasboard-details span {
  font-size: xx-large;
  padding: 20px 0px 0px 30px;
}

.totalstd,
.totalteacher,
.totalsub,
.totalclass {
  height: 140px;
  width: 230px;
  margin: 40px;
  display: flex;
  background-color: #fff;
}

.img-std,
.img-teacher,
.img-sub,
.img-class {
  height: 140px;
  width: 90px;
}

.totalStudent,
.totalTeacher,
.totalSubject,
.totalClass {
  padding-top: 20px;
  font-size: larger;
}

.countStudent,
.countTeacher,
.countSubject,
.countClass {
  padding: 30px 0px 0px 32px;
}

.total {
  display: flex;
}

.student-details-control,
.student-record-control,
.teacher-details-control,
.teacher-record-control,
.subject-details-control,
.class-details-control {
  display: flex;
  margin: -500px 212px;
  background-color: antiquewhite;
  height: 500px;
  width: 1250px;
  /* padding-bottom: 50px; */
}

.student-details,
.student-record,
.teacher-details,
.teacher-record,
.subject-syllabus,
.class-detail {
  font-size: xx-large;
  padding: 15px 0px 0px 30px;
}

.addStudent {
  height: 30px;
  width: 180px;
  font-size: large;
  margin-top: 30px;
  border-radius: 6px;
}

.search-box {
  height: 25px;
  width: 180px;
  margin-left: 820px;
}

.search-box-record{
  margin-left: 100%;
  /* margin-top: -10px; */

}

.student-details-table,
.student-record-table,
.teacher-details-table,
.teacher-record-table,
.subject-record-table,
.class-record-table {
  font-size: medium;
}

table {
  width: 100%
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.std {
  margin-left: 720px;
  height: 25px;
}